.nickname-container {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    color: #1ECBD7;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: default;
  }
  
  .nickname-icon {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  
  .nickname-text {
    white-space: nowrap;
  }
  