.dateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ECBD7;
  border-radius: 20px;
  padding: 8px 12px;
  gap: 6px;
  min-width: 120px;
  max-width: 140px;
  height: auto;
  position: relative;  
  top: 91px;  
  left: 83%;
   z-index: 50; 
}

.icon {
  width: 25px;
  height: 25px;
}

.dateText {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
