.dateContainer {
    display: flex;
    align-items: center;
    background-color: #1ECBD7;
    border-radius: 20px;
    padding: 10px 15px;
    gap: 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .dateText {
    font-size: 16px;
    color: white;
    font-weight: bold;
  }