.Restart{
    background-color: #D855A0;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 23px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 230px;
    justify-content: center;
    height: 3rem;
    }

.SakuraFlower {
    display:flex;
    align-self: flex-start;
    width: 3.5rem;
    height: 3.5rem;
    transform: translate(-100px, -12px);
}

.Text{
    font-family: Bellota;
    transform: translate(42px, -3px);
}   