.TextBubble {
  position: relative;
  display: inline-block;
}

.Kero {
  display: flex;
  height: 7rem;
  width: 10rem;
  transform: translate(-77px,-93px);
  position: absolute;
}

.Cloud {
  margin-top: 1rem;
  height: 9rem;
  width: 25rem;
  position: relative;
}

.Text {
  width: 60%;
  position: absolute;
  top: 22%;  
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  -webkit-line-clamp: 3;
  font-size: 18px;  
}


.buttonContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative; 
  bottom: -17rem; 
}