.container {
  padding: 2rem;
  margin-top: 5rem;
}

.readingsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.readingCard {
  background-color: #FFCEE8;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.date {
  color: #6C1841;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.nickname {
  color: #914129;
  margin-bottom: 1rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.card img {
  width: 50px;
  height: auto;
}
