.FooterContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #FFCEE8;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;  
}

p .FooterContainer {
    line-height: 3rem;
    margin: 0;
}