:root {
  font-family: Bellota;
  line-height: 1.5;
  font-weight: 400;

  
}

body {
  background-image: url('/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100vh;
  overflow: hidden;
}